<section class="about">
  <div class="container">
    <h2 class="title title-2 about__title">Об отеле MUNIB HOTEL</h2>
    <div class="about__wrapper">
      <p class="content about__content">
        Также как современная методология разработки однозначно определяет каждого участника как
        способного принимать собственные решения касаемо переосмысления внешнеэкономических политик.
        Равным образом, выбранный нами инновационный путь не оставляет шанса для стандартных
        подходов.
      </p>
      <p class="content about__content">
        Прежде всего, повышение уровня гражданского сознания, в своём классическом представлении,
        допускает внедрение поставленных обществом задач. Следует отметить, что консультация с
        широким активом однозначно фиксирует необходимость кластеризации усилий.
      </p>
      <p class="content about__content">
        Прежде всего, повышение уровня гражданского сознания, в своём классическом представлении,
        допускает внедрение поставленных обществом задач. Следует отметить, что консультация с
        широким активом однозначно фиксирует необходимость кластеризации усилий.
      </p>
    </div>
    <div class="swiper about__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide about__slide">
          <img src="@img/about.jpg" alt="image" class="about__slide-img">
        </div>
        <div class="swiper-slide about__slide">
          <img src="@img/about.jpg" alt="image" class="about__slide-img">
        </div>
        <div class="swiper-slide about__slide">
          <img src="@img/about.jpg" alt="image" class="about__slide-img">
        </div>
        <div class="swiper-slide about__slide">
          <img src="@img/about.jpg" alt="image" class="about__slide-img">
        </div>
        <div class="swiper-slide about__slide">
          <img src="@img/about.jpg" alt="image" class="about__slide-img">
        </div>
        <div class="swiper-slide about__slide">
          <img src="@img/about.jpg" alt="image" class="about__slide-img">
        </div>
        <div class="swiper-slide about__slide">
          <img src="@img/about.jpg" alt="image" class="about__slide-img">
        </div>
        <div class="swiper-slide about__slide">
          <img src="@img/about.jpg" alt="image" class="about__slide-img">
        </div>
      </div>
    </div>
    <div class="scrollbar about__scrollbar"></div>
  </div>
</section>
