<section class="about-room">
  <div class="container">
    <h2 class="title title-2 about-room__title">О номере</h2>
    <div class="about-room__body">
      <div class="about-room__info">
        <p class="content about-room__content">
          Сложно сказать, почему акционеры крупнейших компаний описаны максимально подробно.
          Банальные, но неопровержимые выводы, а также реплицированные с зарубежных источников,
          современные исследования описаны максимально подробно. Разнообразный и богатый опыт
          говорит нам, что убеждённость некоторых оппонентов обеспечивает актуальность модели
          развития.
        </p>
        <ul class="list about-room__list">
          <li class="about-room__item">
            <div class="about-room__rect">
              <img src="@img/room-icon.svg" alt="icon" class="about-room__item-icon" />
            </div>
            <span class="about-room__item-content">4 гостя</span>
          </li>
          <li class="about-room__item">
            <div class="about-room__rect">
              <img src="@img/room-icon.svg" alt="icon" class="about-room__item-icon" />
            </div>
            <span class="about-room__item-content">от 26 м² до 33 м²</span>
          </li>
          <li class="about-room__item">
            <div class="about-room__rect">
              <img src="@img/room-icon.svg" alt="icon" class="about-room__item-icon" />
            </div>
            <span class="about-room__item-content">2 двуспальные кровати</span>
          </li>
        </ul>
        <span class="about-room__price">от <span>10 000 руб. / </span> 1 ночь </span>
      </div>
      <div class="swiper room-slider">
        <button class="btn slider-nav__btn slider-nav__btn--prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="btn slider-nav__btn slider-nav__btn--next">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="slider-pag"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
