<section class="other-rooms">
  <div class="container">
    <h2 class="title title-2 other-rooms__title">Другие номера</h2>
    <div class="swiper other-rooms__slider">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide other-rooms__slide">
          <img src="@img/room.jpg" alt="image" class="other-rooms__slide-img" />
          <h5 class="other-rooms__slide-title">Другие номера</h5>
          <ul class="list other-rooms__list">
            <li class="other-rooms__item">
              <div class="other-rooms__item-rect">
                <img src="@img/room-icon.svg" alt="icon" class="other-rooms__item-icon" />
              </div>
              <span>4 гостя</span>
            </li>
            <li class="other-rooms__item">
              <div class="other-rooms__item-rect">
                <img src="@img/room-icon.svg" alt="icon" class="other-rooms__item-icon" />
              </div>
              <span>от 26 м² до 33 м²</span>
            </li>
          </ul>
          <div class="other-rooms__slide-btn">
            <span>Подробнее</span>
            <svg class="other-rooms__slide-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="swiper-slide other-rooms__slide">
          <img src="@img/room.jpg" alt="image" class="other-rooms__slide-img" />
          <h5 class="other-rooms__slide-title">Другие номера</h5>
          <ul class="list other-rooms__list">
            <li class="other-rooms__item">
              <div class="other-rooms__item-rect">
                <img src="@img/room-icon.svg" alt="icon" class="other-rooms__item-icon" />
              </div>
              <span>4 гостя</span>
            </li>
            <li class="other-rooms__item">
              <div class="other-rooms__item-rect">
                <img src="@img/room-icon.svg" alt="icon" class="other-rooms__item-icon" />
              </div>
              <span>от 26 м² до 33 м²</span>
            </li>
          </ul>
          <div class="other-rooms__slide-btn">
            <span>Подробнее</span>
            <svg class="other-rooms__slide-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="swiper-slide other-rooms__slide">
          <img src="@img/room.jpg" alt="image" class="other-rooms__slide-img" />
          <h5 class="other-rooms__slide-title">Другие номера</h5>
          <ul class="list other-rooms__list">
            <li class="other-rooms__item">
              <div class="other-rooms__item-rect">
                <img src="@img/room-icon.svg" alt="icon" class="other-rooms__item-icon" />
              </div>
              <span>4 гостя</span>
            </li>
            <li class="other-rooms__item">
              <div class="other-rooms__item-rect">
                <img src="@img/room-icon.svg" alt="icon" class="other-rooms__item-icon" />
              </div>
              <span>от 26 м² до 33 м²</span>
            </li>
          </ul>
          <div class="other-rooms__slide-btn">
            <span>Подробнее</span>
            <svg class="other-rooms__slide-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </div>
        </a>
        <a href="#" class="swiper-slide other-rooms__slide">
          <img src="@img/room.jpg" alt="image" class="other-rooms__slide-img" />
          <h5 class="other-rooms__slide-title">Другие номера</h5>
          <ul class="list other-rooms__list">
            <li class="other-rooms__item">
              <div class="other-rooms__item-rect">
                <img src="@img/room-icon.svg" alt="icon" class="other-rooms__item-icon" />
              </div>
              <span>4 гостя</span>
            </li>
            <li class="other-rooms__item">
              <div class="other-rooms__item-rect">
                <img src="@img/room-icon.svg" alt="icon" class="other-rooms__item-icon" />
              </div>
              <span>от 26 м² до 33 м²</span>
            </li>
          </ul>
          <div class="other-rooms__slide-btn">
            <span>Подробнее</span>
            <svg class="other-rooms__slide-arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
