<section class="reserva">
  <div class="container">
    <div class="reserva__item">
      <div class="swiper room-slider">
        <button class="btn slider-nav__btn slider-nav__btn--prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="btn slider-nav__btn slider-nav__btn--next">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="slider-pag"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
        </div>
      </div>
      <div class="reserva__item-info">
        <div class="reserva__item-head">
          <h3 class="reserva__item-title">Номер deluxe</h3>
          <div class="reserva__item-numbers"><span>Осталось 2 номера</span></div>
        </div>
        <p class="content reserva__item-content">
          Номер с одной большой двуспальной кроватью. Номер оборудован современной мебелью и
          техникой, необходимой для комфортного проживания: одна большая двуспальная кровать,
          письменный стол, кресло и журнальный столик, телевизор, центральная система
          климат-контроля, зона для приготовления чая и глажки.
        </p>
        <ul class="list reserva__info-list reserva__info-list--top">
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>4 гостя</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>от 26 м² до 33 м²</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>1 комната</span>
          </li>
        </ul>
        <ul class="list reserva__info-list">
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Бесплатный wi-fi</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Халат и тапочки</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Тропический душ</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Бесплатный wi-fi</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Халат и тапочки</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Тропический душ</span>
          </li>
        </ul>
        <p class="reserva__item-price">
          от <span>10 000</span> руб. <span>/ 1</span> ночь / 2 гостя
        </p>
        <div class="reserva__item-nav">
          <a href="#" class="btn-custom btn-custom--primary reserva__btn-choice">
            <span>Выбрать</span>
            <svg class="btn-custom__arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
          <button
            data-modal="detail"
            class="btn btn-custom btn-custom--stroke btn-modal reserva__info-btn"
          >
            Что входит в номер
          </button>
        </div>
      </div>
    </div>
    <div class="reserva__item">
      <div class="swiper room-slider">
        <button class="btn slider-nav__btn slider-nav__btn--prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="btn slider-nav__btn slider-nav__btn--next">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="slider-pag"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
        </div>
      </div>
      <div class="reserva__item-info">
        <div class="reserva__item-head">
          <h3 class="reserva__item-title">Номер deluxe</h3>
          <div class="reserva__item-numbers"><span>Осталось 2 номера</span></div>
        </div>
        <p class="content reserva__item-content">
          Номер с одной большой двуспальной кроватью. Номер оборудован современной мебелью и
          техникой, необходимой для комфортного проживания: одна большая двуспальная кровать,
          письменный стол, кресло и журнальный столик, телевизор, центральная система
          климат-контроля, зона для приготовления чая и глажки.
        </p>
        <ul class="list reserva__info-list reserva__info-list--top">
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>4 гостя</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>от 26 м² до 33 м²</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>1 комната</span>
          </li>
        </ul>
        <ul class="list reserva__info-list">
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Бесплатный wi-fi</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Халат и тапочки</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Тропический душ</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Бесплатный wi-fi</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Халат и тапочки</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Тропический душ</span>
          </li>
        </ul>
        <p class="reserva__item-price">
          от <span>10 000</span> руб. <span>/ 1</span> ночь / 2 гостя
        </p>
        <div class="reserva__item-nav">
          <a href="#" class="btn-custom btn-custom--primary reserva__btn-choice">
            <span>Выбрать</span>
            <svg class="btn-custom__arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
          <button
            data-modal="detail"
            class="btn btn-custom btn-custom--stroke btn-modal reserva__info-btn"
          >
            Что входит в номер
          </button>
        </div>
      </div>
    </div>
    <div class="reserva__item">
      <div class="swiper room-slider">
        <button class="btn slider-nav__btn slider-nav__btn--prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="btn slider-nav__btn slider-nav__btn--next">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="slider-pag"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
        </div>
      </div>
      <div class="reserva__item-info">
        <div class="reserva__item-head">
          <h3 class="reserva__item-title">Номер deluxe</h3>
          <div class="reserva__item-numbers"><span>Осталось 2 номера</span></div>
        </div>
        <p class="content reserva__item-content">
          Номер с одной большой двуспальной кроватью. Номер оборудован современной мебелью и
          техникой, необходимой для комфортного проживания: одна большая двуспальная кровать,
          письменный стол, кресло и журнальный столик, телевизор, центральная система
          климат-контроля, зона для приготовления чая и глажки.
        </p>
        <ul class="list reserva__info-list reserva__info-list--top">
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>4 гостя</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>от 26 м² до 33 м²</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>1 комната</span>
          </li>
        </ul>
        <ul class="list reserva__info-list">
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Бесплатный wi-fi</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Халат и тапочки</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Тропический душ</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Бесплатный wi-fi</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Халат и тапочки</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Тропический душ</span>
          </li>
        </ul>
        <p class="reserva__item-price">
          от <span>10 000</span> руб. <span>/ 1</span> ночь / 2 гостя
        </p>
        <div class="reserva__item-nav">
          <a href="#" class="btn-custom btn-custom--primary reserva__btn-choice">
            <span>Выбрать</span>
            <svg class="btn-custom__arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
          <button
            data-modal="detail"
            class="btn btn-custom btn-custom--stroke btn-modal reserva__info-btn"
          >
            Что входит в номер
          </button>
        </div>
      </div>
    </div>
    <div class="reserva__item">
      <div class="swiper room-slider">
        <button class="btn slider-nav__btn slider-nav__btn--prev">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <button class="btn slider-nav__btn slider-nav__btn--next">
          <svg class="slider-nav__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow"></use>
          </svg>
        </button>
        <div class="slider-pag"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="@img/room.jpg" alt="room" class="room-slider__slide-img" />
          </div>
        </div>
      </div>
      <div class="reserva__item-info">
        <div class="reserva__item-head">
          <h3 class="reserva__item-title">Номер deluxe</h3>
          <div class="reserva__item-numbers"><span>Осталось 2 номера</span></div>
        </div>
        <p class="content reserva__item-content">
          Номер с одной большой двуспальной кроватью. Номер оборудован современной мебелью и
          техникой, необходимой для комфортного проживания: одна большая двуспальная кровать,
          письменный стол, кресло и журнальный столик, телевизор, центральная система
          климат-контроля, зона для приготовления чая и глажки.
        </p>
        <ul class="list reserva__info-list reserva__info-list--top">
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>4 гостя</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>от 26 м² до 33 м²</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>1 комната</span>
          </li>
        </ul>
        <ul class="list reserva__info-list">
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Бесплатный wi-fi</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Халат и тапочки</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Тропический душ</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Бесплатный wi-fi</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Халат и тапочки</span>
          </li>
          <li class="reserva__info-item">
            <div class="reserva__info-rect">
              <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
            </div>
            <span>Тропический душ</span>
          </li>
        </ul>
        <p class="reserva__item-price">
          от <span>10 000</span> руб. <span>/ 1</span> ночь / 2 гостя
        </p>
        <div class="reserva__item-nav">
          <a href="#" class="btn-custom btn-custom--primary reserva__btn-choice">
            <span>Выбрать</span>
            <svg class="btn-custom__arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
            </svg>
          </a>
          <button
            data-modal="detail"
            class="btn btn-custom btn-custom--stroke btn-modal reserva__info-btn"
          >
            Что входит в номер
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<div data-modal="detail" class="modal">
  <div class="modal__overlay">
    <div class="modal__window">
      <div class="modal-detail__body">
        <div class="modal-detail__head">
          <h3 class="modal-detail__title">Номер deluxe</h3>
          <button class="btn modal__close">
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="modal-detail__specifications">
          <ul class="list reserva__info-list reserva__info-list--top">
            <li class="reserva__info-item">
              <div class="reserva__info-rect">
                <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
              </div>
              <span>4 гостя</span>
            </li>
            <li class="reserva__info-item">
              <div class="reserva__info-rect">
                <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
              </div>
              <span>от 26 м² до 33 м²</span>
            </li>
            <li class="reserva__info-item">
              <div class="reserva__info-rect">
                <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
              </div>
              <span>1 комната</span>
            </li>
          </ul>
          <ul class="list reserva__info-list">
            <li class="reserva__info-item">
              <div class="reserva__info-rect">
                <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
              </div>
              <span>Бесплатный wi-fi</span>
            </li>
            <li class="reserva__info-item">
              <div class="reserva__info-rect">
                <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
              </div>
              <span>Халат и тапочки</span>
            </li>
            <li class="reserva__info-item">
              <div class="reserva__info-rect">
                <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
              </div>
              <span>Тропический душ</span>
            </li>
            <li class="reserva__info-item">
              <div class="reserva__info-rect">
                <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
              </div>
              <span>Бесплатный wi-fi</span>
            </li>
            <li class="reserva__info-item">
              <div class="reserva__info-rect">
                <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
              </div>
              <span>Халат и тапочки</span>
            </li>
            <li class="reserva__info-item">
              <div class="reserva__info-rect">
                <img src="@img/room-icon.svg" alt="icon" class="reserva__info-icon" />
              </div>
              <span>Тропический душ</span>
            </li>
          </ul>
        </div>
        <div class="modal-detail__services">
          <div class="modal-detail__services-item">
            <h5 class="modal-detail__services-title">Кровати:</h5>
            <ul class="list modal-detail__services-list">
              <li class="modal-detail__services-row-item">Туалетные средства</li>
              <li class="modal-detail__services-row-item">Банные полотенца</li>
              <li class="modal-detail__services-row-item">Гигиенические средства</li>
              <li class="modal-detail__services-row-item">Косметические средства</li>
              <li class="modal-detail__services-row-item">Раковина</li>
              <li class="modal-detail__services-row-item">Унитаз</li>
              <li class="modal-detail__services-row-item">Гостиничная парфюмерия</li>
            </ul>
          </div>
          <div class="modal-detail__services-item">
            <h5 class="modal-detail__services-title">Кровати:</h5>
            <ul class="list modal-detail__services-list">
              <li class="modal-detail__services-row-item">Туалетные средства</li>
              <li class="modal-detail__services-row-item">Банные полотенца</li>
              <li class="modal-detail__services-row-item">Гигиенические средства</li>
              <li class="modal-detail__services-row-item">Косметические средства</li>
              <li class="modal-detail__services-row-item">Раковина</li>
              <li class="modal-detail__services-row-item">Унитаз</li>
              <li class="modal-detail__services-row-item">Гостиничная парфюмерия</li>
            </ul>
          </div>
          <div class="modal-detail__services-item">
            <h5 class="modal-detail__services-title">Кровати:</h5>
            <ul class="list modal-detail__services-list">
              <li class="modal-detail__services-row-item">Туалетные средства</li>
              <li class="modal-detail__services-row-item">Банные полотенца</li>
              <li class="modal-detail__services-row-item">Гигиенические средства</li>
              <li class="modal-detail__services-row-item">Косметические средства</li>
              <li class="modal-detail__services-row-item">Раковина</li>
              <li class="modal-detail__services-row-item">Унитаз</li>
              <li class="modal-detail__services-row-item">Гостиничная парфюмерия</li>
            </ul>
          </div>
          <div class="modal-detail__services-item">
            <h5 class="modal-detail__services-title">Кровати:</h5>
            <ul class="list modal-detail__services-list">
              <li class="modal-detail__services-row-item">Туалетные средства</li>
              <li class="modal-detail__services-row-item">Банные полотенца</li>
              <li class="modal-detail__services-row-item">Гигиенические средства</li>
              <li class="modal-detail__services-row-item">Косметические средства</li>
              <li class="modal-detail__services-row-item">Раковина</li>
              <li class="modal-detail__services-row-item">Унитаз</li>
              <li class="modal-detail__services-row-item">Гостиничная парфюмерия</li>
            </ul>
          </div>
          <div class="modal-detail__services-item">
            <h5 class="modal-detail__services-title">Кровати:</h5>
            <ul class="list modal-detail__services-list">
              <li class="modal-detail__services-row-item">Туалетные средства</li>
              <li class="modal-detail__services-row-item">Банные полотенца</li>
              <li class="modal-detail__services-row-item">Гигиенические средства</li>
              <li class="modal-detail__services-row-item">Косметические средства</li>
              <li class="modal-detail__services-row-item">Раковина</li>
              <li class="modal-detail__services-row-item">Унитаз</li>
              <li class="modal-detail__services-row-item">Гостиничная парфюмерия</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-detail__footer">
        <span class="modal-detail__price">от 10 000 руб. / 1 ночь / 2 гостя</span>
        <a href="#" class="btn-custom btn-custom--primary modal-detail__btn">
          <span>Выбрать</span>
          <svg class="btn-custom__arrow">
            <use xlink:href="img/icons/icons.svg#icon-arrow-line"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
