<section class="room-services">
  <div class="container">
    <h2 class="title title-2 room-services__title">В номере STANDART</h2>
    <ul class="list room-services__list">
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Бесплатный wi-fi</span>
      </li>
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Принадлежности для приготовления чая</span>
      </li>
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Сейф в номере</span>
      </li>
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Бесплатный wi-fi</span>
      </li>
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Принадлежности для приготовления чая</span>
      </li>
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Сейф в номере</span>
      </li>
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Бесплатный wi-fi</span>
      </li>
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Принадлежности для приготовления чая</span>
      </li>
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Сейф в номере</span>
      </li>
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Бесплатный wi-fi</span>
      </li>
      <li class="room-services__item">
        <div class="room-services__item-rect">
          <img src="@img/room-icon.svg" alt="icon" class="room-services__icon" />
        </div>
        <span class="room-services__content">Принадлежности для приготовления чая</span>
      </li>
    </ul>
  </div>
</section>
